@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quattrocento', serif;
}

body {
  background-color: #f0ede9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

.social {
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5181c2;
  border-radius: 20px 20px 0px  0px;
}

.social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 700;
}

.social a img {
  width: 30px;
}

.full-slider-box {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.f-slide-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/slider/1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/slider/1.jpg);
}

.f-slide-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1))), url(../images/slider/2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../images/slider/2.jpg);
}

.f-slide-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1))), url(../images/slider/3.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../images/slider/3.jpg);
}

.slider-text-container {
  width: 98%;
  height: 90%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  width: 250px;
}

.logo p {
  font-size: 35px;
  padding-right: 30px;
  color: #fff;
  font-weight: 700;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 17rem;
  margin-left: 35px;
  line-height: 45px;
  position: absolute;
}

.content span {
  font-size: 40px;
  margin-left: -10px;
  font-weight: 700;
  color: #01ACF2;
  margin-top: -50px;
}

.content strong {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.content h2 {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.gallery a {
  height: 200px;
  width: 300px;
  margin: 20px;
  overflow: hidden;
  border: 1px solid #ddd3d3;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
}

.gallery a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.gallery a img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.feature-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.feature-heading h2 {
  font-size: 1.5rem;
  color: #1b1919;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
  padding: 10px 20px;
  font-family: 'Cabin', sans-serif;
}

.signup {
  height: 380px;
  background: url(../images/sign.jpg);
  border-radius: 2px;
  position: relative;
  padding: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.9);
  border: 1px solid #555;
}

.signup__input {
  width: 100%;
  border-bottom: 1px solid #656565;
  margin-top: 10px;
}

.input {
  display: block;
  width: 100%;
  height: 30px;
  background: transparent;
  font-size: 12px;
  color: #555;
  padding: 2px;
  outline: none;
  border: none;
}

.leble__input {
  text-transform: uppercase;
  color: #555;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.bio {
  max-width: 400px;
  min-height: 80px;
  max-height: 110px;
  min-width: 300px;
}

.button {
  background-color: #5181c2;
  color: white;
  font-size: 16px;
  border: 1px solid #5181c2;
  padding: 7px 25px;
  margin: 10px 70px;
  border-radius: 5px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: transparent;
  color: #000;
}

.maps {
  height: 440px;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.9);
  border: 1px solid #555;
}

.maps iframe {
  width: 100%;
  height: 440px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.pas {
  background-color: #5181c2;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 600px) {
  .full-slider-box {
    height: 40vh;
  }
  .logo p {
    font-size: 25px;
    color: #f3e8e8;
  }
  .logo img {
    width: 150px;
  }
  .content {
    margin-top: 8rem;
    margin-left: 15px;
    line-height: 35px;
  }
  .content span {
    font-size: 25px;
    margin-left: -10px;
    font-weight: 700;
  }
  .content strong {
    font-size: 20px;
    font-weight: 700;
    margin-top: -0.5rem;
  }
  .conten h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=style.css.map */